@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Syne", sans-serif;
}

.form-shadow {
  box-shadow: -17px 17px 0px 0px #1a1a1a;
}

.welcome-shadow {
  box-shadow: 0px 4px 0px 0px #000;
}

.quiz-shadow {
  box-shadow: -10px 14px 0px 0px #000;
}

.next-shadow {
  box-shadow: -6px 7px 0px 0px #000;
}

.options-shadow {
  box-shadow: 0px 8px 0px 0px #000;
}

.leaderboard-shadow {
  box-shadow: 0px 9px 0px 0px #000;
}

/* .illustrations{
  outline: 2px solid red;
} */

@keyframes animateUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

.animate-one {
  animation: animateUpDown 2s ease-in-out infinite;
}

.animate-two {
  animation: animateUpDown 1.5s ease-in-out infinite;
}

.animate-three {
  animation: animateUpDown 1.3s ease-in-out infinite;
}

.animate-four {
  animation: animateUpDown 2s ease-in-out infinite;
}

.animate-five {
  animation: animateUpDown 2s ease-in-out infinite;
}
